streamlit
PyPDF2
sentence-transformers
faiss-cpu
python-docx
python-pptx
pandas
numpy
requests
beautifulsoup4
streamlit-mic-recorder
google-generativeai
openai
anthropic
google-auth-oauthlib
google-api-python-client
graphviz
gTTS
