streamlit
PyPDF2
sentence-transformers
faiss-cpu
python-docx
pandas
python-pptx
google-auth-oauthlib
google-api-python-client
google-generativeai
openai
anthropic
requests
beautifulsoup4
streamlit-mic-recorder
